<div class="card_add_basket">
<div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 card-option mb-card">
                    <a href="#">
                        <img class="card-img-top photo"
                             src="{{ product.image.url }}"
                             alt="">
                    </a>
                    <div class=" card-option">
                        <h4>
                            <a class="aText" href="{% url 'mainapp:detail' product.id %}">{{ product.name }}</a>
                        </h4>
                        <p class="card-option">{{ product.descriptions }}</p>
                    </div>
                    <div class="card-footer text-center">
                        {#                                    <form action="{% url 'basket:basket_add' product.id %}" method="post">#}
                        {#                                        {% csrf_token %}#}
                        {#                                        <button type="button" class="btn btn-outline-success">Отправить в корзину#}
                        {#                                        </button>#}
                        {#                                    </form>#}
                        {#                    <a href="{% url 'basket:basket_add' product.id %}" class="btn btn-outline-success">Отправить в#}
                        {#                        корзину</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
</div>