{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
    <!-- Page Content -->
    <section>


        
        <div class="container">
            <div class="botton">

                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'mainapp:products' %}">
                        Перейти к экспонатам
                    </a>
                </button>
            </div>
        </div>

          <div class="card mb-3 card-menu">
            <div class="row g-0">
              <div class="col-md-4 img-1">
                <img src="{% static 'vendor/img/wallpaper4.jpg' %}" class="img-fluid rounded-start" >
                <p class ="post-card">Министр МЧС России С.К. Шойгу в экспозиции Центрального музея МЧС России.</p>
              </div>
              <div class="col-md-8">
                <div class="card-body text-editor">
                  <h5 class="card-title">История музея АГЗ МЧС России</h5>
                  <p class="card-text">Музей находится на территории Федерального государственного бюджетного военного образовательного учреждения высшего образования «Академия гражданской защиты Министерства Российской Федерации по делам гражданской обороны, чрезвычайным ситуациям и ликвидации последствий стихийных бедствий имени генерал-лейтенанта Д.И. Михайлика»
                    В музее, открытом в 1998 г., представлены экспозиции по истории пожарной охраны и добровольчества, ветеранам и династиям пожарной охраны. Сотрудниками экспозиции организована работа по повышению культуры безопасного поведения, обучению населения правилам пожарной безопасности, действиям при возгораниях и пожарах, профилактике пожарной безопасности.
                    К уникальным экспонатам музея относятся материалы, награды и знаки отличия за спасение погибавших, предметы символики и формы одежды военнослужащих, сотрудников и спасательных подразделений МПВО, ГО и МЧС России, собранные старшим преподавателем кафедры оперативного управления мероприятиями РСЧС и ГО Академии гражданской защиты МЧС России подполковником Г.М.Ковалем. В июле 2019 года Центральный музей МЧС России временно перемещен на территорию Академии гражданской защиты МЧС России, где открыты выставки «Гражданская оборона. Страницы истории» и «Международная деятельность МЧС России».</p>
                  <p class="card-small-text "><small class="text-muted">Контакты:<br>
                   Приёмная: +7 (498) 699-05-37 <br>
                    Электроная почта: muzey-mchs@yandex.ru <br>
                    Адрес: Московская область, г. Химки, мкрн Новогорск, ул. Соколовская, АГЗ МЧС России
                </small></p>
                </div>
              </div>
            </div>
          </div>
        
    </section>
{% endblock %}